.app {
  display: flex;
  height: 90vh;
}

.sidebar {
  width: 180px;
  background-color: #6b7988;
  color: rgb(235, 237, 243);
  padding: 20px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #151c24;
}

.user-list li:hover {
  background-color: #34495e;
}

.main-content {
  flex-grow: 1;
  background-color: #ecf0f1;
  padding: 20px;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;  /* Allow positioning of timestamp inside message */
}

.message.me {
  background-color: #3792cfda;  /* Blue background for "me" */
  color: white;  /* White text color */
  align-self: flex-end;  /* Align to the right side */
  border-radius: 10px 0px 10px 10px;  /* Rounded corners with a flat edge on the right */
  padding: 10px;  /* Padding for better readability */
  margin: 5px;  /* Space between messages */
  max-width: 70%;  /* Limit the width of the message */
}

.message.other {
  background-color: #a9acad;  /* Gray background for "other" */
  align-self: flex-start;  /* Align to the left side */
  border-radius: 0px 10px 10px 10px;  /* Rounded corners with a flat edge on the left */
  padding: 10px;  /* Padding for better readability */
  margin: 5px;  /* Space between messages */
  max-width: 70%;  /* Limit the width of the message */
}

.message-content {
  padding: 10px;
}

.message-timestamp {
  font-size: 0.8em;
  color: #5a00eb;
  position: absolute;
  bottom: 5px;  /* Move the timestamp to the bottom of the message */
  left: 10px;  /* Position the timestamp on the left for 'other' messages */
  text-align: center;  /* Center the timestamp */
  width: auto;  /* Let the width adjust based on content */
}

/* Adjust timestamp for "me" messages to align on the right */
.message.me .message-timestamp {
  left: auto;
  right: 10px;  /* Align to the right for "me" messages */
  text-align: right;  /* Align text to the right */
}





.message-input {
  display: flex;
}

.message-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.message-input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #2980b9;
}