
/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #e7ecfc, #ac78da);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}
